{% extends 'base.html' %} {% block head %}
<title>Forum</title>
{% endblock %} {% block body %}


<article>
    <div class="container">
        <div class="row">
            <div class="col pt-4">
                <!-- Left content -->
                <div class="container p-0" id="container-forum">
                    <div class="row">
                        <div class="col mb-2" id="header-container">
                            <h4 class="" style="float: right;">Topic</h4>
                            <h4 class="">Category</h4>
                        </div>
                        {% for id,title, body, likes, comments, users_id, username in forum %}
                        <div class="row">

                            <!-- Content of the forum/thread -->
                            <div class="col">
                                <div class="card " id="card">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            <a href="{{ url_for('read', id=id) }}" style="color: black;">{{title}}</a>
                                        </h5>
                                        <p class="card-text">{{body}}</p>
                                        <a href="{{ url_for('read', id=id)}}" class="btn btn-primary">Detail</a> {% if session and session.get('id') == users %}
                                        <a href="{{ url_for('delete', id=id)}}" class="btn btn-danger">Delete</a> {% endif %}
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-1">
                                <!-- TOTAL Thread -->
                                <h4>{{likes}}</h4>

                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- Right Content -->
            <div class="col pt-4">
                <div class="container p-0 mb-2 " style="background-color:;">
                    <h4>Latest</h4>
                    <div class="row">
                        <div class="col">
                            <div class="card" id="card-css">
                                <!-- User image  -->
                                <img class="img-thumbnail" src=".../100px180/?text=Image cap" alt="User Image" id="user-thumbnail">
                                <!-- Submited new topic to talk -->
                                <div class="card-body">
                                    <h5 class="card-title">Lorem Ipsum</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>

            </div>

        </div>




    </div>
</article>



{% endblock %}