{% extends 'base.html' %} {% block head %}
<title>Forum</title>
{% endblock %} {% block body %}


<article>
    <div class="container">
        <div class="row">
            <div class="col pt-4">
                <!-- Left content -->
                <div class="container p-0" id="container-forum">
                    <div class="row">
                        <div class="col mb-2" id="header-container">
                            <h4 class="" style="float: right;">Topic</h4>
                            <h4 class="">Category</h4>
                        </div>

                        <div class="row">
                            <!-- Content of the forum -->
                            <div class="col">
                                <div class="card " id="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Lorem Ipsum</h5>
                                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nec auctor leo. In hac habitasse platea dictumst. Aliquam convallis mauris id efficitur bibendum. Praesent eu erat ante. Nullam nec quam posuere,
                                            mollis mi eget, elementum metus. Phasellus ex massa, ultricies a lorem at, venenatis tincidunt odio. Pellentesque id sollicitudin felis. Mauris consequat gravida risus non consectetur. Nulla odio orci, dignissim
                                            vitae ante vel, posuere facilisis lectus. Nam dignissim placerat lorem, et sagittis nulla sodales quis. Suspendisse ut nisi non turpis accumsan tincidunt nec a sem. In faucibus ac leo et viverra. Mauris iaculis
                                            ligula et mollis iaculis. Nulla commodo odio mollis orci porttitor luctus. Nunc at consectetur neque. Quisque eget erat diam.</p>
                                        <a href="#" class="btn btn-primary">Go somewhere</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-1">
                                <!-- TOTAL Thread -->
                                <h4>1.8k</h4>

                            </div>
                        </div>




                    </div>

                </div>
            </div>
            <!-- Right Content -->
            <div class="col pt-4">
                <div class="container p-0 mb-2 " style="background-color: red;">
                    <h4>Latest</h4>
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                <!-- User image  -->
                                <img class="card-img-top" src=".../100px180/?text=Image cap" alt="Card image cap">
                                <!-- Submited new topic to talk -->
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>

            </div>

        </div>




    </div>
</article>



{% endblock %}